
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

ul,ol{
   list-style: none; 
}

a{
    text-decoration: none;
}
body{
    font-family: arial;

}

nav{
    text-align: center;
    background-image: linear-gradient(to right, #e66465, #9198e5);
    padding: 15px 0;

}

nav ul li{
    display: inline-block;
    margin: 0 25px;
    position: relative;
}

nav ul li a{
    padding: 20px;
    display: block;
    color: white;
    transition: 0.3ms;
}

nav ul li a::before{
    content: '';
    width: 50px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 1opx;

}



nav ul li:hover a{
    border-bottom: 2px solid white;
}